
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, rgb(90, 4, 160),rgb(40, 141, 148));
    height: 100vh;
}
div.img {
    background-image: url('imagens/pexels-rebornfilmes-27669641.jpg');
    height: 220px;
    width: 285.5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 30px 30px 0px 0px;
    display: block;
}
div.principal {
    background-color: white;
    color:rgb(0, 0, 0);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.788);
    width: 285px;
    height: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px 30px 30px 30px;
    padding-bottom: 40px;
    display: block;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
div.principal h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 12px;
}
form {
    padding: 16px;
}
p.bem {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 17px;
}
input.login{
    padding: 12px;
    background-color: #94CFCD;
    border-radius: 10px;
    width:175px;
}
input.entrar {
    color: white;
    background-color: #53AAA7;
}
input.senha {
    color: #2e6361;
    background-color: white;
}

input.entrar, input.senha {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 257px;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #3d7c7a;
}
span {
    background-color: #5F2C82;
    width: 250px;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 8px;
    color: white;
}
input.senha:hover {
    background-color: #6CD3CF;
}
input.entrar:hover {
    background-color: #2e6361;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    div.principal {
    min-width: 730px;
    height: 300px;
    float: right;
}
    div.img {
        background-image: url('imagens/pexels-rebornfilmes-27669641.jpg');
        height: 340px;
        width: 230px;
        float: left;
        border-radius: 30px 0px 0px 30px;
}
    input.entrar, input.senha {
        margin-bottom: 1px;
        min-width: 475px;
        height: 45px;
        float: right;
}
    input.login {
    height: 14px;
    min-width: 390px;
}
    span {
        min-width: 470px;
        margin-bottom: 4px;
        height: 39px;
        float: right;
}
}
@media screen and (min-width: 992px){
    div {
        min-width: 495px;
        max-height: 230px;
        left: 35%;
        top: 50%;
        border-radius: 30px 0px 0px 30px;
        padding: 16px;
        padding-bottom: 60px;
    }
        input.login {
        height: 17px;
        padding: 11px;
        background-color: #94CFCD;
        border-radius: 10px;
        width:417px;
    }
    input.entrar, input.senha {
        margin-top: 0px;
        margin-bottom: 3px;
        width: 500px;
        height: 45px;
        font-size: 16px;
    }
    span {
        margin-bottom: 4px;
        height: 39px;
        width: 490px;
    }
    div.img {
        min-height: 230px;
        min-width: 200px;
        max-width: 100%;
        left: 75%;
        top: 50%;
        border-radius: 0px 30px 30px 0px;
}
    @media screen and (min-width: 992px) {
    div.img {
        min-width: 50%;
        float: right;
        min-height: 305px;
        }
    div.principal {
        padding: 0px;
        float: left;
        min-width: 1020px;
        min-height: 380px;
    }
    input.login {
        height: 17px;
        width: 365px;
        padding: 11px;
        background-color: #94CFCD;
        border-radius: 10px;
    }
    span {
        margin-bottom: 7px;
        height: 39px;
        width: 440px;
    }
    input.entrar, input.senha {
        margin-top: 7px;
        margin-bottom: 3px;
        max-width: 447px;
        height: 45px;
        font-size: 16px;
    }
    }
}