* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 10px;
    margin-bottom: 40px;
}
h1 {
    margin-bottom: 12px;
}
main {
    background-color: lightgray;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: ;
}
div.texto {
    flex-BASSISSS???
    width: 55vw;
}
div.img01 {
    background-image: url(pexels-amine-kubranur-cakiroglu-689611212-38845411.png);
    width: 300px;
    height: 400px;
}
h2 {
    margin-bottom: 12px;
}
p {
    margin-bottom: 100px;
}